* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  height: 100vh;
  font-family: sans-serif;
  color: bisque;
  background: #888;
}

.container {
  max-width: 1530px;
  margin: 0 auto;

  padding: 0 15px;
}

main {
  max-width: 600px;

  padding-top: 20px;
  text-align: center;
}

main img {
  object-fit: cover;
  max-width: 70%;
}

p {
  font-size: 30px;
  padding-top: 10px;
}

.byubo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 20px;
}

@media (max-width: 500px) {
  h1 {
    font-size: 15px;
  }
  h2 {
    font-size: 15px;
  }
}
